@model string
@{
    ViewData["Title"] = "CreateRole";
}

<h1>CreateRole</h1>

@if (ViewBag.ErrorMsg != null)
{
    <h3>@ViewBag.ErrorMsg</h3>
}

<form asp-action="CreateRole" asp-controller="Admin" method="post">

    <label for="roleName">Role name:</label>

    <input type="text" required id="roleName" name="roleName" min="3" value="@Model" />

    <button>Create</button>
</form>