@model PersonLanguagesViewModel
@{
    ViewData["Title"] = "Manage Person Language";
}

<h1>Manage Person Language</h1>

<div class="row">
    <div class="col-6">
        <h4>Current</h4>
    </div>
    <div class="col-6">
        <h4>Available</h4>

    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul>
            @foreach (var item in Model.Person.PersonLanguages)
            {
            <li>
                @item.Language.LanguangeName
                @Html.ActionLink("Remove", "RemoveLanguageToPerson", "People",
                  new { personId = Model.Person.Id, languageId = item.LanguageId })
            </li>
            }
        </ul>
    </div>
    <div class="col-6">
        <ul>
            @foreach (var item in Model.Languages)
            {
                <li>
                    @item.LanguangeName 
                    @Html.ActionLink("Add", "AddLanguageToPerson", "People",
                     new { personId = Model.Person.Id, languageId = item.Id })
            </li>
            }
        </ul>
    </div>
</div>

