@model List<Country>
@{
    ViewData["Title"] = "Index";
}

<h1>Country</h1>

<a asp-action="Create"> Create Country</a>

<table>
    <thead>
        <tr>
            <th>Country Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CountryName</td>
                <td>
                    <a asp-action="Delete" asp-controller="Countries"
                       asp-route-id="@Model">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>