@model List<Language>
@{ 
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create">Create Language</a>

<table>
    <thead>
        <tr>
            <th>Language</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
	{
        <tr>
            <th>@item.LanguangeName</th>
            <th></th>
        </tr>
	}        

    </tbody>
</table>