@model PeopleViewModel
@{
    ViewData["Title"] = "AjaxIndex";
}

<div>
    <button id="showAllPeople" onclick="ShowAll()">
        Show people list
    </button>
</div>

<div>    
        <input type="number" id="keyId" placeholder="Type in the ID"/>
        @*<input type="submit"  value="Type in the ID" />*@
   
</div>

<div>
    <button id="showDetail" onclick="DetailPerson()">
        Show detail
    </button>
</div>

<div>
    <button id="deletePerson" onclick="DeletePerson()">
        Delete
    </button>
</div>

<div class="row">
    <div  id="AjaxResult"></div>
</div>

<script src="~/js/Ajaxsite.js"></script>





