
@{
    ViewData["Title"] = "AjaxIndex";
}

<div>
    <button id="showAllPeople">
        Show people list
    </button>
</div>

<div>
    <form>
        <input type="number" />
        <input type="submit" id="keyId" value="Type in the ID" />
    </form>
</div>

<div>
    <button id="showDetail">
        Show detail
    </button>
</div>

<div>
    <button id="deletePerson">
        Delete
    </button>
</div>

<div class="row">
    <div  id="PeopleTable"></div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>





