@model List<Person>

<div id="PeopleTable" class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-2"><h4>Name</h4></div>
            <div class="col-2"><h4>Phone Number</h4></div>
            <div class="col-2"><h4>City Name</h4></div>
            <div class="col-2"><h4>Country Name</h4></div>
            <div class="col-4"><h4>Action</h4></div>
        </div>
    </div>
</div>
<div>
    @foreach (var item in Model)
    {
        if (item == null)
        {
            <p class="col-12">List is empty</p>
        }

        <partial name="_PersonPatialView" model="item" />

    }
</div>


